body{
  font-family:'Courier New', Courier, monospace;
  font-size:20px;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box{
  border: 2px solid black;
  height: 500px;
  width: 400px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}



.container-box{
  display: flex;
 
}

.box-img{
  width: 250px;
  height: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.win {
  border: 10px solid green;
  color: green;
}

.lose {
  border: 10px solid red;
  color: red;
}

.tie {
  border: 10px solid black;
  color: black;
}

.buttonStyle{
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}
